@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #3a3a3a;
  --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
